/***************
A MORE MODERN SCALE
http://typecast.com/blog/a-more-modern-scale-for-web-typography
***************/

body {
  .intro {
    font-size: 1.25em;
    line-height: 1.7;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: .5rem 0 1.5rem;
  font-family: $sans-serif;
}

// Headings
h1, .h1 {
  font-size: 2em; // 2x body copy size = 32px 
  line-height: 1.25; // 45px / 36px
}

h2, .h2 {
  font-size: 1.625em; // 1.625x body copy size = 26px 
  line-height: 1.15384615; // 30px / 26px
}

h3, .h3 {
  font-size: 1.375em; // 1.375x body copy size = 22px
  line-height: 1.13636364; //25px / 22px
}

h4, .h4 {
  font-size: 1.125em; // 1.125x body copy size = 18px
  line-height: 1.11111111;
}

blockquote {
  font-size: 1.25em; // 20px / 16px
  line-height: 1.25; // 25px / 20px
  padding: 0;  
}
